<div class="container">
  <br>
<p style="color: #F7F7F7">Contact</p>

<h1 style="color: #F7F7F7">Mr. Akshay Devkate</h1>
<p style="color: #F7F7F7">BE computer</p>
<p style="color: #F7F7F7" >Address : Behind NP Udgir dist:latur</p>
  <p style="color: #F7F7F7">contact no:8668839360 </p>
</br>
  <a href="https://www.facebook.com/AkshayDattatrayaDevkate" target="blank"><%=image_tag('facebook.png', alt: "rss feed", height: 42, width: 42)%> </a>
<a href="https://www.facebook.com/AkshayDattatrayaDevkate" target="blank" ><%=image_tag("twitter.png", alt: "rss feed", height: 42, width: 42)%> </a>
  <a href="https://github.com/AkshayDevkate" target="blank"><%=image_tag("github.png", alt:"rss feed", height: 42, width: 42)%> </a>
  <a href="https://www.linkedin.com/in/akshay-devkate-a11540166/" target="blank"><%=image_tag("linkedin.png", alt:"rss feed", height: 42, width: 42)%> </a>

</div>